Repository Triplenone/AIST-Final-Year-Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Million, @Oscar, @Lin, @Benjamin

fix(firmware): 稳定 FlyCare BLE 小场地定位
  firmware/BLELocation.cpp
  firmware/BLELocation.h
  firmware/Config.h
  firmware/README.md
Owners: @Million

fix(flycare): 稳定 BLE 定位和提示同步
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/BLELocation.cpp
  firmware/BLELocation.h
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
  firmware/FlightInfoManager.cpp
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/firmware.ino
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  frontend/src/pages/FlyCarePage.tsx
Owners: @Oscar, @Million, @Benjamin

fix(firmware): 稳定 FlyCare BLE snap 和 flight 目标同步
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/BLELocation.cpp
  firmware/BLELocation.h
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/FlightInfoManager.cpp
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/firmware.ino
Owners: @Oscar, @Million

fix(firmware): 修复 FlyCare direct MQTT 定位刷新
  AGENTS.md
  firmware/BLELocation.cpp
  firmware/Config.h
  firmware/README.md
Owners: @Million

fix(firmware): 防止 FlyCare BLE 定位卡住
  AGENTS.md
  firmware/BLELocation.cpp
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/README.md
  firmware/firmware.ino
Owners: @Million

fix(firmware): 平滑 FlyCare BLE 替代吸附
  AGENTS.md
  firmware/BLELocation.cpp
  firmware/Config.h
  firmware/README.md
Owners: @Million

fix(firmware): 收紧 FlyCare Customer Services 定位吸附
  AGENTS.md
  firmware/BLELocation.cpp
  firmware/BLELocation.h
  firmware/Config.h
  firmware/README.md
Owners: @Million

test(flycare): 增加 direct MQTT walk verifier
  AGENTS.md
  docs/FLYCARE_MQTT.md
  scripts/verify_flycare_direct_walk.ps1
Owners: @Oscar

fix(flycare): 允许 direct walk verifier 分析超时捕获
  scripts/verify_flycare_direct_walk.ps1
Owners: none

调整目的地卡片样式
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
Owners: @Million

perf(firmware): 优化离线 router 手表响应
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/MyNetworkManager.cpp
  firmware/README.md
  firmware/firmware.ino
Owners: @Oscar, @Million

feat(flycare): 添加 demo registry 和 alert downlink
  AGENTS.md
  backend/backend/app/api/routes/flycare_admin.py
  backend/backend/app/models/flycare_demo_registry.py
  backend/backend/app/services/mqtt_publish.py
  database/mysql/migrations/20260619_flycare_demo_registry.sql
  docs/FLYCARE_MQTT.md
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/firmware.ino
  frontend/src/App.tsx
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  frontend/src/components/admin/AdminSection.tsx
  frontend/src/components/admin/FlyCareAdmin.tsx
  frontend/src/components/position/PositionResidentRail.tsx
  frontend/src/services/api.ts
  frontend/src/styles/global.css
  frontend/src/styles/position-page.css
Owners: @Oscar, @Lin, @Million, @Benjamin

perf(firmware): 优化 offline router UI fast path
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/MyNetworkManager.cpp
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/firmware.ino
Owners: @Oscar, @Million

docs(flycare): 记录 offline router 硬件验证结果
  AGENTS.md
Owners: none

fix(firmware): 修复 SOS 长按取消不同步
  AGENTS.md
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/VibrationManager.h
  firmware/firmware.ino
Owners: @Million

docs(readme): 添加 FlyCare demo-ready 安装与演示指南
  README.md
Owners: none

test(flycare): 添加 offline demo 记录脚本
  scripts/record_flycare_offline_demo.ps1
Owners: none

chore(flycare): 发布 final demo ready 配置
  README.md
  docs/FLYCARE_MQTT.md
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/SimpleRTC.h
  firmware/firmware.ino
  scripts/publish_flycare_time.ps1
  scripts/record_flycare_offline_demo.ps1
  scripts/start_flycare_local_stack.ps1
  scripts/start_flycare_offline_demo.ps1
Owners: @Oscar, @Million

chore(elderly): 保存迁移检查点
  backend/backend/app/api/routes/flycare_admin.py
  backend/backend/app/services/mqtt_publish.py
  database/mysql/migrations/20260625_flycare_elderly_demo_profile.sql
  frontend/src/App.tsx
  frontend/src/components/admin/AdminSection.tsx
  frontend/src/components/admin/FlyCareAdmin.tsx
  frontend/src/components/flycare/FlyCareHealthPanel.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/img/ElderlyCare.png
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/pages/FlyCarePage.tsx
  frontend/src/services/api.ts
  frontend/src/styles/position-page.css
Owners: @Oscar, @Lin, @Benjamin

feat(elderly): 完成 ElderlyCare demo 迁移主线
  README.md
  backend/backend/app/api/routes/flycare_admin.py
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/config.py
  backend/backend/app/services/mqtt_publish.py
  backend/backend/app/services/mqtt_subscriber.py
  docs/FLYCARE_MQTT.md
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
  firmware/ElderlyCare.bmp
  firmware/PageManager.h
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/SimpleDisplayManager.h
  firmware/firmware.ino
  frontend/src/components/admin/FlyCareAdmin.tsx
  frontend/src/components/flycare/FlyCareHealthPanel.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/pages/FlyCarePage.tsx
  frontend/src/services/api.ts
  frontend/src/styles/global.css
  scripts/audit_elderly_goal.ps1
  scripts/bridge_flycare_serial.ps1
  scripts/record_elderly_offline_demo.ps1
  scripts/set_flycare_mqtt_endpoint.ps1
  scripts/start_elderly_offline_demo.ps1
  scripts/verify_elderly_direct_walk.ps1
  scripts/verify_elderly_watch.ps1
Owners: @Oscar, @Lin, @Million, @Benjamin

fix(frontend): 修正 ElderlyCare backend 默认端口
  frontend/README.backend-integration.md
  frontend/guide.md
  frontend/src/constants/backend.ts
Owners: @Benjamin

.github/CODEOWNERS:

/firmware/              @Million
/backend/               @Oscar @Lin
/frontend/              @Benjamin
/ai/                    @Oscar
/docs/                  @Oscar
/.github/               @Oscar
