Repository Triplenone/AIST-Final-Year-Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Million, @Oscar, @Lin, @Benjamin

fix(position): 修复 dark mode 可读性并接入 eldercare SVG 背景
  docs/frontend-position/12-position-visual-followups-plan.md
  docs/frontend-position/13-position-presentation-recovery-workstream.md
  frontend/src/styles/position-page.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 Position presentation recovery
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-031443.mem
Owners: none

fix(position): 提升 header 与 shell 可读性
  docs/frontend-position/14-position-header-shell-readability-workstream.md
  frontend/src/styles/app-shell.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 Position header shell run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-032420.mem
Owners: none

fix(position): 优化 resident rail 与 summary hierarchy
  docs/frontend-position/15-position-resident-rail-summary-hierarchy-workstream.md
  frontend/src/styles/position-page.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 Position resident rail run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-033151.mem
Owners: none

fix(position): 强化 map stage 与三栏统一性
  docs/frontend-position/16-position-map-stage-emphasis-workstream.md
  frontend/src/styles/position-page.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 Position map stage run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-034023.mem
Owners: none

fix(position): 优化 decision panel 可读性与粘性层级
  docs/frontend-position/17-position-decision-panel-readability-workstream.md
  frontend/src/styles/position-page.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 Position decision panel run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-035242.mem
Owners: none

docs(frontend-position): 完成 visual followups 收尾
  docs/frontend-position/12-position-visual-followups-plan.md
  docs/frontend-position/99-handoff.md
Owners: @Oscar

chore(memory): 记录 Position closeout
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-040102.mem
Owners: none

fix(position): 调整 light mode shell 明度
  docs/frontend-position/18-position-light-mode-shell-rebalance-workstream.md
  frontend/src/styles/app-shell.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 Position light mode shell run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-041424.mem
Owners: none

fix(position): 修复 header nav 裁切
  docs/frontend-position/19-position-nav-overflow-recovery-workstream.md
  frontend/src/styles/app-shell.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 Position nav overflow run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-042534.mem
Owners: none

docs(frontend-redesign): 建立 frontend-only 优化队列
  docs/frontend-redesign/20-frontend-only-optimization-queue.md
Owners: @Oscar

chore(memory): 记录 frontend-only 优化计划
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-044532.mem
Owners: none

fix(shell): 提升 shared shell 韧性与 quick actions 锚定
  docs/frontend-redesign/20-frontend-only-optimization-queue.md
  docs/frontend-redesign/21-shared-shell-resilience-workstream.md
  frontend/src/components/shell/AppHeader.tsx
  frontend/src/components/shell/QuickActionsDock.tsx
  frontend/src/styles/app-shell.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 shared shell resilience run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-050218.mem
Owners: none

feat(overview): 收紧首页 narrative 与 support hierarchy
  docs/frontend-redesign/20-frontend-only-optimization-queue.md
  docs/frontend-redesign/22-overview-narrative-tightening-workstream.md
  frontend/src/components/overview/OverviewExperience.tsx
  frontend/src/styles/overview.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 overview narrative tightening run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-052658.mem
Owners: none

fix(residents): 强化 workspace utility hierarchy
  docs/frontend-redesign/20-frontend-only-optimization-queue.md
  docs/frontend-redesign/23-residents-workspace-utility-workstream.md
  frontend/src/components/admin/ResidentsAdmin.tsx
  frontend/src/styles/residents-admin.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 residents workspace run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-055734.mem
Owners: none

feat(location): 强化 map-first workspace surface
  docs/frontend-redesign/20-frontend-only-optimization-queue.md
  docs/frontend-redesign/24-location-workspace-emphasis-workstream.md
  frontend/src/components/LocationDashboard.tsx
  frontend/src/styles/location-map.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 location workspace run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-062432.mem
Owners: none

feat(routes): 收敛 operations 与 family utility briefs
  docs/frontend-redesign/20-frontend-only-optimization-queue.md
  docs/frontend-redesign/25-operations-family-consistency-workstream.md
  frontend/src/App.tsx
  frontend/src/styles/app-shell.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 operations family consistency run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-065243.mem
Owners: none

fix(admin): 收敛 admin information architecture
  docs/frontend-redesign/20-frontend-only-optimization-queue.md
  docs/frontend-redesign/26-admin-information-architecture-workstream.md
  frontend/src/components/admin/AdminSection.tsx
  frontend/src/styles/global.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 admin information architecture run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-073310.mem
Owners: none

perf(frontend): 拆分 route chunks 并收敛 bundle
  docs/frontend-redesign/20-frontend-only-optimization-queue.md
  docs/frontend-redesign/27-performance-asset-hygiene-workstream.md
  frontend/src/App.tsx
  frontend/src/styles/app-shell.css
  frontend/vite.config.ts
Owners: @Oscar, @Benjamin

chore(memory): 记录 performance hygiene run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-080458.mem
Owners: none

fix(frontend): 加固 accessibility 与 responsive 行为
  docs/frontend-redesign/20-frontend-only-optimization-queue.md
  docs/frontend-redesign/28-accessibility-responsive-hardening-workstream.md
  frontend/src/styles/app-shell.css
  frontend/src/styles/global.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 accessibility hardening run
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-082259.mem
Owners: none

Add MQTT vitals ingestion, Mongo upstream APIs, and temporary device ID mapping
  _lin_mem/20260409-device-id-map-scheme-c.mem
  _lin_mem/20260409-mongo-canonical-unification.mem
  _lin_mem/20260409-vitals-mqtt-events.mem
  backend/backend/.env.example
  backend/backend/app/api/routes/__init__.py
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/config.py
  backend/backend/app/db/mongo.py
  backend/backend/app/db/sample_mqtt_vitals_payload.json
  backend/backend/app/main.py
  backend/backend/app/services/MQTT-topic.txt
  backend/backend/app/services/mqtt_subscriber.py
  backend/backend/app/services/vitals_event_bridge.py
  backend/requirements.txt
Owners: @Oscar, @Lin

Add family-facing vitals history and summary APIs with resident avatar field
  _lin_mem/20260409-frontend-demand-gap-fill.mem
  backend/backend/app/api/routes/__init__.py
  backend/backend/app/api/routes/family_summary.py
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/api/routes/residents.py
  backend/backend/app/schemas/resident.py
Owners: @Oscar, @Lin

merge(backend): slice A — Mongo foundation + config + router registration
  backend/backend/.env.example
  backend/backend/app/api/routes/__init__.py
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/config.py
  backend/backend/app/db/mongo.py
  backend/backend/app/main.py
  backend/requirements.txt
Owners: @Oscar, @Lin

merge(backend): slice B — additive avatar_url + family_summary placeholder
  backend/backend/app/api/routes/__init__.py
  backend/backend/app/api/routes/family_summary.py
  backend/backend/app/api/routes/residents.py
  backend/backend/app/schemas/resident.py
Owners: @Oscar, @Lin

chore(memory): record merge phase Slice A+B facts
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260413-060714.mem
Owners: none

feat(frontend): 重定向 /location 到 /position 并更新导航标签
  frontend/src/App.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
Owners: @Benjamin

.github/CODEOWNERS:

/firmware/              @Million
/backend/               @Oscar @Lin
/frontend/              @Benjamin
/ai/                    @Oscar
/docs/                  @Oscar
/.github/               @Oscar
