Repository Triplenone/AIST-Final-Year-Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Million, @Oscar, @Lin, @Benjamin

fix(flycare): 打通 serial flight 下行并稳定通知音频
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-135700.mem
  docs/FLYCARE_MQTT.md
  firmware/AudioManager.cpp
  firmware/Config.h
  firmware/FlightInfoManager.cpp
  firmware/README.md
  firmware/firmware.ino
  frontend/guide.md
  scripts/bridge_flycare_serial.ps1
Owners: @Oscar, @Million, @Benjamin

fix(firmware): 对齐 fall detection 并补 SIMFALL 烟测
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-142100.mem
  docs/FLYCARE_MQTT.md
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/README.md
  firmware/firmware.ino
  scripts/bridge_flycare_serial.ps1
Owners: @Oscar, @Million

fix(firmware): 减少 flight 重复弹窗和地图闪屏
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-143400.mem
  docs/FLYCARE_MQTT.md
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/FlightInfoManager.cpp
  firmware/FlightInfoManager.h
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
Owners: @Oscar, @Million

test(flycare): 强化显示稳定性审计
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-145500.mem
  docs/FLYCARE_MQTT.md
  scripts/audit_flycare_goal.ps1
Owners: @Oscar

导出 ben_sql MySQL 数据备份
  database/mysql/ben_sql/smart_elderly_care_system_full_20260616_145904.sql
Owners: none

fix(flycare): 稳定 serial JSON 桥接
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-152000.mem
  docs/FLYCARE_MQTT.md
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
  scripts/audit_flycare_goal.ps1
  scripts/bridge_flycare_serial.ps1
Owners: @Oscar, @Million

fix(flycare): 稳定 flight 去重和 serial fallback
  AGENTS.md
  _ben_mem/CURR.mem
  docs/FLYCARE_MQTT.md
  firmware/BLELocation.cpp
  firmware/DataTransmitter.cpp
  firmware/FlightInfoManager.cpp
  firmware/firmware.ino
  scripts/audit_flycare_goal.ps1
Owners: @Oscar, @Million

fix(flycare): 稳定本地 COM5 serial bridge
  AGENTS.md
  _ben_mem/CURR.mem
  docs/FLYCARE_MQTT.md
  scripts/audit_flycare_goal.ps1
  scripts/bridge_flycare_serial.ps1
  scripts/start_flycare_local_stack.ps1
Owners: @Oscar

docs(flycare): 记录 final demo freeze smoke
  AGENTS.md
Owners: none

docs(flycare): 记录 final freeze 按键监控
  AGENTS.md
Owners: none

docs(flycare): 记录 final freeze 阻塞审计
  AGENTS.md
Owners: none

docs(flycare): 记录 final freeze bridge 恢复
  AGENTS.md
Owners: none

docs(flycare): 记录 final freeze UI 复核
  AGENTS.md
Owners: none

docs(flycare): 记录 final freeze resumed audit
  AGENTS.md
Owners: none

docs(flycare): 记录 final freeze SOS 实体验证
  AGENTS.md
Owners: none

docs(flycare): 对齐 final freeze PWR 验证说明
  AGENTS.md
  docs/FLYCARE_MQTT.md
Owners: @Oscar

docs(flycare): 记录 final freeze PWR 阻塞原因
  AGENTS.md
  docs/FLYCARE_MQTT.md
Owners: @Oscar

fix(firmware): 修复 PWR 短按唤醒屏幕
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/README.md
  firmware/firmware.ino
  scripts/audit_flycare_goal.ps1
Owners: @Oscar, @Million

fix(firmware): 修复 Gate Change 重启循环
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/DataTransmitter.cpp
  firmware/FlightInfoManager.cpp
  firmware/README.md
  firmware/firmware.ino
  scripts/bridge_flycare_serial.ps1
Owners: @Oscar, @Million

docs: 更新 FlyCare source pack
  docs/00_FlyCare_Source_Index.md
  docs/01_FlyCare_Current_Repo_Audit.md
  docs/03_FlyCare_API_Contract_and_Responses.md
  docs/04_FlyCare_Test_Evidence_Index.md
  docs/05_FlyCare_Demo_Script_and_Smoke_Checklist.md
  docs/06_FlyCare_Open_Issues_and_Risks.md
Owners: @Oscar

docs(flycare): 记录 invalid uplink clean smoke
  AGENTS.md
Owners: none

fix(flycare): 修复 Gate 11 提示并整理 demo 数据核查
  AGENTS.md
  firmware/FlightInfoManager.cpp
Owners: @Million

fix(flycare): 稳定 Gate 11 下发和 BLE 定位上报
  AGENTS.md
  firmware/BLELocation.cpp
  firmware/BLELocation.h
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
Owners: @Million

fix(flycare): 修复登机口到达提示触发
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/Config.h
  firmware/FlightInfoManager.cpp
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/SimpleDisplayManager.h
Owners: @Oscar, @Million

fix(flycare): 稳定 passenger rail 刷新
  AGENTS.md
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  frontend/src/pages/FlyCarePage.tsx
Owners: @Benjamin

fix(flycare): 调整手表顶部状态图标
  AGENTS.md
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
Owners: @Million

fix(flycare): 下移手表顶部状态图标
  AGENTS.md
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
Owners: @Million

fix(firmware): 修复 FlyCare 手表 UI 安全边距和航班状态提示
  AGENTS.md
  firmware/BLELocation.cpp
  firmware/FlightInfoManager.cpp
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/firmware.ino
Owners: @Million

迁移 FlyCare 主表到 router local MQTT
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/Config.h
Owners: @Oscar, @Million

docs(flycare): 记录主表 router MQTT 阻塞证据
  AGENTS.md
Owners: none

fix(firmware): 降低 FlyCare MQTT reconnect 半开连接
  AGENTS.md
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
  firmware/README.md
Owners: @Million

fix(firmware): 稳定 NG WAI LUN MQTT client id
  AGENTS.md
  firmware/DataTransmitter.cpp
  firmware/README.md
Owners: @Million

docs(agents): 修正 direct MQTT 证据日志路径
  AGENTS.md
Owners: none

docs(flycare): 记录 NG WAI LUN direct MQTT 阻塞证据
  AGENTS.md
Owners: none

fix(flycare): 增加 NG WAI LUN direct MQTT uplink fallback
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/DataTransmitter.cpp
  firmware/README.md
Owners: @Oscar, @Million

调整手表地图和航班 UI
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
Owners: @Million

fix(flycare): 修复 direct MQTT 与 BLE 串口稳定性
  AGENTS.md
  docs/FLYCARE_MQTT.md
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
  firmware/MyNetworkManager.cpp
  firmware/README.md
  firmware/firmware.ino
  scripts/bridge_flycare_serial.ps1
Owners: @Oscar, @Million

fix(flycare): 修正 Admin 预设 flight form
  backend/backend/static/assets/AdminSection-B4u6Lj6f.js
  backend/backend/static/assets/AdminSection-DSM0F0f-.js
  backend/backend/static/assets/FamilyPage-DgHYPCWw.js
  backend/backend/static/assets/FamilyPage-GX_zYqal.js
  backend/backend/static/assets/FlyCarePage-B4keXi6U.js
  backend/backend/static/assets/FlyCarePage-B4ybrMeM.js
  backend/backend/static/assets/OverviewExperience-CyVqv4c_.js
  backend/backend/static/assets/OverviewExperience-cVYyMwFT.js
  backend/backend/static/assets/PositionPage-CYdoyCjO.js
  backend/backend/static/assets/PositionPage-TJxtp02j.js
  backend/backend/static/assets/PositionSummaryBar-CSsbAniM.js
  backend/backend/static/assets/PositionSummaryBar-WFi4Ur93.js
  backend/backend/static/assets/ResidentsAdmin-DTmavWgr.js
  backend/backend/static/assets/ResidentsAdmin-T7WQHNV1.js
  backend/backend/static/assets/VitalsHistoryPanel-D0x05FKh.js
  backend/backend/static/assets/VitalsHistoryPanel-DwLjuq15.js
  backend/backend/static/assets/index-B-jpTZYF.js
  backend/backend/static/assets/index-c0ICOwWA.js
  backend/backend/static/index.html
  docs/FLYCARE_MQTT.md
  frontend/src/components/admin/FlyCareAdmin.tsx
Owners: @Oscar, @Lin, @Benjamin

fix(firmware): 修复 Gate arrival 误判
  docs/FLYCARE_MQTT.md
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
Owners: @Oscar, @Million

fix(firmware): 提升 FlyCare BLE 定位稳定性
  firmware/BLELocation.cpp
  firmware/BLELocation.h
  firmware/Config.h
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/SimpleDisplayManager.h
  scripts/audit_flycare_goal.ps1
Owners: @Million

.github/CODEOWNERS:

/firmware/              @Million
/backend/               @Oscar @Lin
/frontend/              @Benjamin
/ai/                    @Oscar
/docs/                  @Oscar
/.github/               @Oscar
