Repository Triplenone/AIST-Final-Year-Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Million, @Oscar, @Lin, @Benjamin

.github/CODEOWNERS:

/firmware/              @Million
/backend/               @Oscar @Lin
/frontend/              @Benjamin
/ai/                    @Oscar
/docs/                  @Oscar
/.github/               @Oscar

docs(frontend-readme): 更新 seed dump 引用 — final report alignment
  frontend/README.md
Owners: @Benjamin

docs(frontend-guide): 更新 MySQL seed 引用 — final report alignment
  frontend/guide.md
Owners: @Benjamin

docs(frontend-integration): 更新 seed dump 引用 — final report alignment
  frontend/README.backend-integration.md
Owners: @Benjamin

docs(data): 标记 Dump20260426 为默认 seed — final report alignment
  docs/data.md
Owners: @Oscar

docs(release): 对齐 release 数据路径与输出结构 — final report alignment
  docs/release.md
Owners: @Oscar

docs(contributing): 重写为 UTF-8 编码 — final report alignment
  CONTRIBUTING.md
Owners: none

docs(handoff): 标记 Lin-saved-handoff 已完成 — final report alignment
  docs/Lin-saved-handoff.md
Owners: @Oscar

docs(handoff): 标记 merge frontend plan 已完成 — final report alignment
  docs/merge-frontend-plan.md
Owners: @Oscar

docs(handoff): 标记 Slice D handoff 已完成 — final report alignment
  docs/slice-d-codex-handoff.md
Owners: @Oscar

docs(handoff): 标记 frontend phase handoff 已完成 — final report alignment
  docs/frontend-phase-codex-handoff.md
Owners: @Oscar

docs(archive): 添加 completed handoff 索引 — final report alignment
  docs/archive.md
Owners: @Oscar

docs(frontend-redesign): 添加 workstream rollup index — final report alignment
  docs/frontend-redesign/README.md
Owners: @Oscar

feat(frontend): 限制 Admin 导航与路由仅 admin role 可见
  frontend/src/App.tsx
Owners: @Benjamin

docs: 删除 AI-assisted development section
  README.md
Owners: none

docs(setup): 添加 demo accounts 表格
  docs/setup.md
Owners: @Oscar

docs: 删除 AI-assisted development section; 添加 demo accounts 表格
  README.md
  docs/setup.md
Owners: @Oscar

feat: improve residents location fallback and UI localization updates
  backend/backend/app/api/routes/residents.py
  backend/backend/app/services/elderly_device_queries.py
  backend/backend/config/device_id_map.json
  docs/USER_MANUAL.md
  docs/setup.md
  frontend/src/adapters/position-command-center.ts
  frontend/src/components/admin/ResidentsAdmin.tsx
  frontend/src/components/family/VitalsHistoryPanel.tsx
  frontend/src/hooks/useVitalsHistory.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
Owners: @Oscar, @Lin, @Benjamin

delete md files
  AGENTS.md
  CONTRIBUTING.md
  GUIDE_FRONTEND.md
  README.md
  backend/Dump20251120.sql
  backend/README.md
  backend/backend/api-docs.html
  backend/backend/check_device_id.py
  backend/backend/requirements.txt
  backend/backend/run_backend.ps1
  backend/backend/seed_test_users.py
  backend/backend/test_data_reception.py
  backend/backend/发送TCP测试数据.py
  backend/backend/插入确认跌倒数据-简化版.sql
  backend/backend/数据接收功能使用说明.md
  backend/backend/数据接收功能测试指南.md
  backend/backend/诊断工具-检查设备ID.py
  backend/backend/运行诊断工具.bat
  backend/backend/运行诊断工具.ps1
  backend/服务启动说明.md
  docs/DEMO.md
  docs/Lin-saved-handoff.md
  docs/MEETINGS.md
  docs/README.md
  docs/SETUP.md
  docs/TROUBLESHOOTING.md
  docs/USER_MANUAL.md
  docs/archive.md
  docs/data.md
  docs/frontend-phase-codex-handoff.md
  docs/merge-frontend-plan.md
  docs/release.md
  docs/setup.md
  docs/slice-d-codex-handoff.md
  docs/troubleshooting.md
  frontend/README.md
Owners: @Oscar, @Lin, @Benjamin

fix(family): 隐藏 vitals history 体温字段
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260427-113254.mem
  frontend/src/components/family/VitalsHistoryPanel.tsx
  frontend/src/styles/family-page.css
Owners: @Benjamin

fix(frontend): 支持 Cloudflare quick tunnel 访问
  .gitignore
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260427-114300.mem
  docs/SETUP.md
  docs/setup.md
  frontend/src/constants/backend.ts
  frontend/vite.config.ts
Owners: @Oscar, @Benjamin

fix(frontend/position): caregiver_lee 处理事件流程 + Indoor Positioning 互动修复
  frontend/src/App.tsx
  frontend/src/components/position/PositionDecisionPanel.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/components/position/PositionResidentRail.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/pages/PositionPage.tsx
  frontend/src/styles/global.css
  frontend/src/styles/position-page.css
Owners: @Benjamin

fix(frontend): 支持 Cloudflare quick tunnel 访问
  .gitignore
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260427-114300.mem
  docs/SETUP.md
  docs/setup.md
  frontend/src/constants/backend.ts
  frontend/vite.config.ts
Owners: @Oscar, @Benjamin

chore(mem): 记录 quick tunnel main 修复验证
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260427-123300.mem
Owners: none

fix(frontend/auth): caregiver 不见 admin tab + 访客仅停留 overview + WONG KA MING 帐号
  frontend/src/App.tsx
  frontend/src/components/overview/OverviewExperience.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/styles/overview.css
Owners: @Benjamin

feat(campus): 添加 ITP4458 Campus 前端演示
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260504-073634.mem
  docs/DEMO.md
  frontend/src/App.tsx
  frontend/src/assets/campus-map.png
  frontend/src/components/overview/OverviewExperience.tsx
  frontend/src/pages/CampusPage.tsx
  frontend/src/styles/campus-page.css
  frontend/src/styles/overview.css
Owners: @Oscar, @Benjamin

feat(campus): 接入 CampusWatch MQTT 上行演示
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260504-080958.mem
  backend/backend/.env.example
  backend/backend/config/device_id_map.json
  docs/campus-watch-emergency-upstream.md
  firmware/EmergencyWatch/EmergencyWatch.ino
  firmware/EmergencyWatch/README.md
  frontend/src/pages/CampusPage.tsx
  tools/local_mqtt_to_mongo_bridge.py
  tools/mongo_check_latest.py
  tools/mqtt_print_subscriber.py
Owners: @Oscar, @Lin, @Million, @Benjamin

fix(campus): 修复 BLE beacon 位置覆盖显示
  .playwright-mcp/page-2026-05-04T02-03-52-829Z.yml
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260504-044411.mem
  _ben_mem/LOG/20260504-091444.mem
  _ben_mem/LOG/20260504-095157.mem
  _ben_mem/LOG/20260504-100416.mem
  docs/campus-watch-emergency-upstream.md
  firmware/EmergencyWatch/EmergencyWatch.ino
  firmware/EmergencyWatch/README.md
  frontend/src/pages/CampusPage.tsx
  frontend/src/styles/campus-page.css
  tools/local_mqtt_to_mongo_bridge.py
  tools/mongo_check_latest.py
  tools/mqtt_print_subscriber.py
Owners: @Oscar, @Million, @Benjamin

updated dashboard and signed up devices
  backend/backend/app/api/routes/data_reception.py
  backend/backend/app/api/routes/flycare_admin.py
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/config.py
  backend/backend/app/services/mongo_raw_upstream.py
  backend/backend/app/services/mqtt_publish.py
  backend/backend/app/services/mqtt_subscriber.py
  backend/backend/config/device_id_map.json
  docs/FLYCARE_MQTT.md
  frontend/src/adapters/flycare-map.test.ts
  frontend/src/adapters/flycare-map.ts
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  frontend/src/components/admin/FlyCareAdmin.tsx
  frontend/src/components/flycare/FlyCareMapStage.test.ts
  frontend/src/components/flycare/FlyCareMapStage.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/pages/FlyCarePage.tsx
  frontend/src/services/api.ts
  frontend/src/styles/position-page.css
Owners: @Oscar, @Lin, @Benjamin

register 2 new esp32 devices and sync mppings across stack
  backend/backend/config/device_id_map.json
  backend/backend/static/assets/AdminSection-DLqWWY4j.js
  backend/backend/static/assets/AdminSection-FJc0BOmj.js
  backend/backend/static/assets/FamilyPage-B2aRxg6D.js
  backend/backend/static/assets/FamilyPage-BKjvq0fL.js
  backend/backend/static/assets/FlyCarePage-gAZv6IVH.js
  backend/backend/static/assets/FlyCarePage-unlEH-S8.js
  backend/backend/static/assets/OverviewExperience-8vUvxC_D.js
  backend/backend/static/assets/OverviewExperience-DVvURjNr.js
  backend/backend/static/assets/PositionPage-BPrK8Vxz.js
  backend/backend/static/assets/PositionPage-BnbS5TqG.js
  backend/backend/static/assets/PositionSummaryBar-B3ywKrB2.js
  backend/backend/static/assets/PositionSummaryBar-C03tp6rO.css
  backend/backend/static/assets/PositionSummaryBar-CFiondAQ.css
  backend/backend/static/assets/PositionSummaryBar-CaXXZjs6.js
  backend/backend/static/assets/ResidentsAdmin-B2XqoUnA.js
  backend/backend/static/assets/ResidentsAdmin-DfqI9LiM.js
  backend/backend/static/assets/VitalsHistoryPanel-BIpPp6md.js
  backend/backend/static/assets/VitalsHistoryPanel-DRYjODlb.js
  backend/backend/static/assets/index-BPp9AeKX.js
  backend/backend/static/assets/index-D30ljYZV.js
  backend/backend/static/index.html
  database/mysql/Dump20260426.sql
  database/mysql/migrations/20260603_register_esp32_devices_6_7.sql
  docs/FLYCARE_MQTT.md
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  scripts/register_esp32_devices.py
Owners: @Oscar, @Lin, @Benjamin

fix(flycare): 显示设备绑定并标记重复
  frontend/src/components/admin/DevicesAdmin.tsx
  frontend/src/styles/global.css
Owners: @Benjamin

chore(db): 固化 FlyCare 设备绑定迁移
  AGENTS.md
  database/mysql/migrations/20260603_bind_flycare_devices_6_7_hk_names.sql
  docs/FLYCARE_MQTT.md
Owners: @Oscar

fix(flycare): 对齐设备绑定和 ISS flight JSON
  backend/backend/config/device_id_map.json
  backend/backend/static/assets/AdminSection-BdGLUHxA.js
  backend/backend/static/assets/AdminSection-btA6KwMi.js
  backend/backend/static/assets/FamilyPage-DUknCiF-.js
  backend/backend/static/assets/FamilyPage-Por2WaIT.js
  backend/backend/static/assets/FlyCarePage-Den-eQAs.js
  backend/backend/static/assets/FlyCarePage-JvpjMvcH.js
  backend/backend/static/assets/OverviewExperience-BQ6B1s2j.js
  backend/backend/static/assets/OverviewExperience-C-7vRdeG.js
  backend/backend/static/assets/PositionPage-BlQzJDZ3.js
  backend/backend/static/assets/PositionPage-D55MRiG9.js
  backend/backend/static/assets/PositionSummaryBar-DDJ5jIQC.js
  backend/backend/static/assets/PositionSummaryBar-DtSsu49f.js
  backend/backend/static/assets/ResidentsAdmin-BQWuoHzI.js
  backend/backend/static/assets/ResidentsAdmin-BVyffMXb.js
  backend/backend/static/assets/VitalsHistoryPanel-BDG2hjoW.js
  backend/backend/static/assets/VitalsHistoryPanel-BQBikwHK.js
  backend/backend/static/assets/index-CpPgCImd.js
  backend/backend/static/assets/index-a4SV4b4u.js
  backend/backend/static/index.html
  database/mysql/migrations/20260605_register_esp32_48ca43a42298.sql
  docs/FLYCARE_MQTT.md
  frontend/src/adapters/flycare-map.test.ts
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  frontend/src/services/api.ts
  frontend/src/utils/flycare-flight.test.ts
  frontend/src/utils/flycare-flight.ts
Owners: @Oscar, @Lin, @Benjamin

fix(firmware): 优化手表 UI 排版
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
Owners: @Million

fix(flycare): 修复本地MQTT与手表核心流程
  .gitignore
  AGENTS.md
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/services/mqtt_publish.py
  backend/backend/config/device_id_map.json
  backend/backend/static/assets/AdminSection-B4u6Lj6f.js
  backend/backend/static/assets/AdminSection-B6OxMnb1.js
  backend/backend/static/assets/FamilyPage-BmjivT0R.js
  backend/backend/static/assets/FamilyPage-DgHYPCWw.js
  backend/backend/static/assets/FlyCarePage-B4ybrMeM.js
  backend/backend/static/assets/FlyCarePage-GPpcX0E5.js
  backend/backend/static/assets/OverviewExperience-CyVqv4c_.js
  backend/backend/static/assets/OverviewExperience-M2Ys01ce.js
  backend/backend/static/assets/PositionPage-BwP2_IiX.js
  backend/backend/static/assets/PositionPage-CYdoyCjO.js
  backend/backend/static/assets/PositionSummaryBar-BHXwbWIT.js
  backend/backend/static/assets/PositionSummaryBar-CSsbAniM.js
  backend/backend/static/assets/ResidentsAdmin-BQbdkmJA.js
  backend/backend/static/assets/ResidentsAdmin-DTmavWgr.js
  backend/backend/static/assets/VitalsHistoryPanel-CFceE3fa.js
  backend/backend/static/assets/VitalsHistoryPanel-DwLjuq15.js
  backend/backend/static/assets/index-B-jpTZYF.js
  backend/backend/static/assets/index-CoxMecDJ.js
  backend/backend/static/index.html
  database/mysql/migrations/20260615_mark_flycare_device8_ng_wai_lun_online.sql
  database/mysql/migrations/20260615_register_flycare_device4_canonical_id.sql
  database/mysql/migrations/20260615_register_flycare_device9_and_aliases.sql
  docs/FLYCARE_MQTT.md
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/FlightInfoManager.cpp
  firmware/PageManager.h
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/firmware.ino
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  frontend/src/pages/FlyCarePage.tsx
  infra/mosquitto/triple-none-runtime.conf
Owners: @Oscar, @Lin, @Million, @Benjamin

fix(flycare): 修复本地LAN MQTT重连
  AGENTS.md
  backend/backend/app/services/mqtt_subscriber.py
  docs/FLYCARE_MQTT.md
  scripts/audit_flycare_goal.ps1
  scripts/start_flycare_local_stack.ps1
Owners: @Oscar, @Lin

fix(flycare): 稳定本地 MQTT 桥接与手表遥测
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-053838.mem
  backend/backend/app/services/mqtt_subscriber.py
  docs/FLYCARE_MQTT.md
  firmware/BLELocation.cpp
  firmware/Config.h
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
  firmware/MyNetworkManager.cpp
  firmware/README.md
  firmware/SimpleDisplayManager.cpp
  firmware/firmware.ino
  frontend/src/constants/backend.ts
  frontend/src/pages/FlyCarePage.tsx
  scripts/start_flycare_local_stack.ps1
  scripts/verify_flycare_watch.ps1
Owners: @Oscar, @Lin, @Million, @Benjamin

fix(flycare): 避免历史警报误弹窗
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-054930.mem
  frontend/src/App.tsx
Owners: @Benjamin

fix(firmware): 稳定手表 MQTT 重连调度
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-064000.mem
  firmware/DataTransmitter.cpp
  firmware/DataTransmitter.h
  firmware/SimpleDisplayManager.cpp
  firmware/firmware.ino
Owners: @Million

fix(scripts): 修正 FlyCare 本地审计后端选择
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-070900.mem
  docs/FLYCARE_MQTT.md
  frontend/guide.md
  scripts/audit_flycare_goal.ps1
  scripts/start_flycare_local_stack.ps1
Owners: @Oscar, @Benjamin

fix(flycare): 增加 USB serial MQTT 兜底链路
  AGENTS.md
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260616-132400.mem
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/services/mqtt_subscriber.py
  docs/FLYCARE_MQTT.md
  firmware/DataTransmitter.cpp
  firmware/firmware.ino
  frontend/guide.md
  scripts/bridge_flycare_serial.ps1
Owners: @Oscar, @Lin, @Million, @Benjamin
