Repository Triplenone/AIST-Final-Year-Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Million, @Oscar, @Lin, @Benjamin

.github/CODEOWNERS:

/firmware/              @Million
/backend/               @Oscar @Lin
/frontend/              @Benjamin
/ai/                    @Oscar
/docs/                  @Oscar
/.github/               @Oscar

update
  .vscode/settings.json
  Makefile
  README.md
  ai/README.md
  backend/README.md
  firmware/README.md
  frontend/.eslintignore
  frontend/.eslintrc.cjs
  frontend/README.md
  frontend/package.json
  frontend/web-dashboard/README.md
  frontend/web-dashboard/app-config.js
  frontend/web-dashboard/data-layer.js
  frontend/web-dashboard/index.html
  frontend/web-dashboard/scripts.js
  frontend/web-dashboard/styles.css
  infra/README.md
  tests-e2e/README.md
Owners: @Oscar, @Lin, @Million, @Benjamin

Fix eslint dependency conflict in frontend CI
  .github/dependabot.yml
  frontend/package.json
Owners: @Oscar, @Benjamin

chore(frontend): fix CI (lockfile + workflow cache) and add Vite React shell
  .github/workflows/ci-frontend.yml
  GUIDE_FRONTEND.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/styles/.gitkeep
  frontend/src/styles/global.css
  frontend/src/vite-env.d.ts
  frontend/tsconfig.base.json
  frontend/tsconfig.json
  frontend/web-dashboard/scripts.js
Owners: @Oscar, @Benjamin

frontend: refresh React PWA UI with i18next, simulation, and accessibility tweaks
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/i18n.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/main.tsx
  frontend/src/styles/global.css
  frontend/web-dashboard/scripts.js
Owners: @Benjamin

frontend: wire i18next into legacy dashboard and update guides
  GUIDE_FRONTEND.md
  frontend/README.md
  frontend/web-dashboard/ENHANCEMENTS.md
  frontend/web-dashboard/README.md
  frontend/web-dashboard/i18n-resources.js
  frontend/web-dashboard/i18n.js
  frontend/web-dashboard/index.html
  frontend/web-dashboard/scripts.js
  frontend/web-dashboard/vendor/i18next.js
  frontend/web-dashboard/vendor/i18nextBrowserLanguageDetector.js
Owners: @Benjamin

chore(frontend): fix CI (lockfile + workflow cache) and add Vite React shell
  .gitignore
  README.md
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Owners: @Benjamin

new
  GUIDE_FRONTEND.md
  README.md
  docs/sse-demo.gif
  frontend/.eslintignore
  frontend/README.md
  frontend/index.html
  frontend/public/sse-sw.js
  frontend/src/App.tsx
  frontend/src/components/DevPanel.tsx
  frontend/src/constants/metrics.ts
  frontend/src/hooks/useResidentEditor.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/main.tsx
  frontend/src/services/simulator-controls.ts
  frontend/src/shared/resident-live-store.tsx
  frontend/src/sse/client.ts
  frontend/src/styles/global.css
  frontend/src/utils/resident-derived.ts
  frontend/web-dashboard/README.md
  frontend/web-dashboard/i18n-resources.js
  frontend/web-dashboard/index.html
  frontend/web-dashboard/scripts.js
  frontend/web-dashboard/sse-client.js
  frontend/web-dashboard/styles.css
  frontend/web-dashboard/sw-sse.js
Owners: @Oscar, @Benjamin

fix(frontend)
  README.md
  ai/README.md
  backend/README.md
  firmware/README.md
  frontend/README.md
  frontend/public/sse-sw.js
  frontend/src/App.tsx
  frontend/src/components/SimulatorControls.tsx
  frontend/src/hooks/useResidentEditor.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/main.tsx
  frontend/src/services/simulator-controls.ts
  frontend/src/shared/resident-live-store.tsx
  frontend/src/sse/client.ts
  frontend/src/styles/global.css
  frontend/web-dashboard/README.md
  infra/README.md
  tests-e2e/README.md
Owners: @Oscar, @Lin, @Million, @Benjamin

add bilingual frontend documentation
  frontend/README.md
  frontend/public/README.md
  frontend/src/README.md
  frontend/src/adapters/README.md
  frontend/src/components/README.md
  frontend/src/components/admin/README.md
  frontend/src/components/charts/README.md
  frontend/src/hooks/README.md
  frontend/src/locales/README.md
  frontend/src/services/README.md
  frontend/src/shared/README.md
  frontend/src/sse/README.md
  frontend/src/styles/README.md
  frontend/src/types/README.md
  frontend/src/utils/README.md
  frontend/tests/README.md
Owners: @Benjamin

feat(frontend): introduce Ambient Care shell and overview redesign
  docs/frontend-redesign/01-preflight-and-memory.md
  docs/frontend-redesign/02-shell-overview-and-route-harmonization.md
  docs/frontend-redesign/03-validation.md
  docs/frontend-redesign/04-chart-stability-and-polish.md
  docs/frontend-redesign/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/charts/DashboardCharts.tsx
  frontend/src/components/overview/OverviewExperience.tsx
  frontend/src/components/shell/AppHeader.tsx
  frontend/src/components/shell/AuthModal.tsx
  frontend/src/components/shell/QuickActionsDock.tsx
  frontend/src/styles/app-shell.css
  frontend/src/styles/charts.css
  frontend/src/styles/global.css
  frontend/src/styles/overview.css
  frontend/src/styles/tokens.css
Owners: @Oscar, @Benjamin

docs(setup): align runbooks and ignore local delivery artifacts
  .gitignore
  docs/setup.md
  docs/troubleshooting.md
  scripts/release/quickstart.template.md
Owners: @Oscar

chore(memory): 统一 _ben_mem 路径并同步 Position docs references
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260322-205500.mem
  _ben_mem/LOG/20260322-210210.mem
  _ben_mem/LOG/20260322-210900.mem
  _ben_mem/LOG/20260322-220911.mem
  _ben_mem/LOG/20260322-221200.mem
  _ben_mem/LOG/20260322-222200.mem
  _ben_mem/LOG/20260322-222537.mem
  _ben_mem/LOG/20260322-224840.mem
  _ben_mem/LOG/20260322-234649.mem
  _ben_mem/LOG/20260323-000348.mem
  _ben_mem/LOG/20260323-000503.mem
  _ben_mem/LOG/20260323-000908.mem
  _ben_mem/LOG/20260323-001316.mem
  _ben_mem/LOG/20260323-001954.mem
  _ben_mem/LOG/20260323-002121.mem
  _ben_mem/LOG/20260323-003038.mem
  _ben_mem/LOG/20260323-004359.mem
  _ben_mem/LOG/20260323-004544.mem
  _ben_mem/LOG/20260323-005429.mem
  _ben_mem/LOG/20260327-195907.mem
  _ben_mem/PROTO.md
  docs/frontend-position/00-governance.md
  docs/frontend-position/00-master-plan.md
  docs/frontend-position/01-phase-foundation.md
  docs/frontend-position/02-phase-command.md
  docs/frontend-position/03-phase-production.md
  docs/frontend-position/10-maintainer-notes.md
  docs/frontend-position/11-backend-facing-boundary.md
  docs/frontend-position/99-handoff.md
  docs/frontend-redesign/01-preflight-and-memory.md
Owners: @Oscar

feat(frontend): 优化 top navigation 结构与 fixed header 样式
  frontend/src/components/shell/AppHeader.tsx
  frontend/src/styles/app-shell.css
  frontend/src/styles/global.css
Owners: @Benjamin

feat(frontend): rebuild position command center foundation
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260327-223903.mem
  _ben_mem/LOG/20260327-232219.mem
  _ben_mem/LOG/20260327-234610.mem
  docs/README.md
  docs/frontend-position/01-phase-foundation.md
  docs/frontend-position/10-maintainer-notes.md
  docs/frontend-position/11-backend-facing-boundary.md
  docs/frontend-position/99-handoff.md
  frontend/src/App.tsx
  frontend/src/adapters/position-command-center.ts
  frontend/src/components/position/PositionDecisionPanel.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/components/position/PositionResidentRail.tsx
  frontend/src/components/position/PositionSummaryBar.tsx
  frontend/src/pages/PositionPage.tsx
  frontend/src/styles/global.css
  frontend/src/styles/position-page.css
Owners: @Oscar, @Benjamin

feat(frontend): advance position command center
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260328-000500.mem
  _ben_mem/LOG/20260328-012400.mem
  _ben_mem/LOG/20260328-012946.mem
  _ben_mem/LOG/20260328-013433.mem
  _ben_mem/LOG/20260328-014506.mem
  _ben_mem/LOG/20260328-014819.mem
  _ben_mem/LOG/20260328-021641.mem
  _ben_mem/LOG/20260328-021947.mem
  docs/frontend-position/02-phase-command.md
  docs/frontend-position/10-maintainer-notes.md
  docs/frontend-position/11-backend-facing-boundary.md
  docs/frontend-position/99-handoff.md
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  frontend/src/components/position/PositionDecisionPanel.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/components/position/PositionResidentRail.tsx
  frontend/src/components/position/PositionSummaryBar.tsx
  frontend/src/pages/PositionPage.tsx
  frontend/src/styles/position-page.css
Owners: @Oscar, @Benjamin

feat(frontend): harden position production state
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260328-032128.mem
  _ben_mem/LOG/20260328-033840.mem
  _ben_mem/LOG/20260328-040649.mem
  docs/frontend-position/03-phase-production.md
  docs/frontend-position/10-maintainer-notes.md
  docs/frontend-position/11-backend-facing-boundary.md
  docs/frontend-position/99-handoff.md
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  frontend/src/components/position/PositionDecisionPanel.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/components/position/PositionResidentRail.tsx
  frontend/src/components/position/PositionSummaryBar.tsx
  frontend/src/pages/PositionPage.tsx
  frontend/src/styles/app-shell.css
  frontend/src/styles/position-page.css
Owners: @Oscar, @Benjamin

fix(frontend): address position adapter review blockers
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260328-060610.mem
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
Owners: @Benjamin

docs(frontend-brand): 建立 brand workstream 基线文档
  docs/frontend-brand/00-brand-workstream.md
Owners: @Oscar

feat(shell): 集成 SmartCare Header brand mark
  frontend/src/components/shell/AppHeader.tsx
  frontend/src/styles/app-shell.css
Owners: @Benjamin

feat(overview): 添加 eldercare texture hero 层并补齐 SVG
  frontend/src/components/overview/OverviewExperience.tsx
  frontend/src/styles/overview.css
Owners: @Benjamin

feat(flycare): 添加 shell 层机场纹理与面板 badge
  frontend/src/assets/brand/flycare-badge-exact-crop.svg
  frontend/src/styles/app-shell.css
Owners: @Benjamin

docs(frontend-brand): 完成 integration workstream 收尾
  _ben_mem/CURR.mem
  docs/frontend-brand/99-handoff.md
Owners: @Oscar

chore(memory): 补齐 brand workstream 缺失 log
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260329-224126.mem
  _ben_mem/LOG/20260329-225510.mem
  _ben_mem/LOG/20260329-230701.mem
  _ben_mem/LOG/20260329-233935.mem
  _ben_mem/LOG/20260329-235452.mem
  _ben_mem/LOG/20260330-001240.mem
Owners: none

feat(shell): 完善共享 workspace shell foundation
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-003906.mem
  docs/frontend-redesign/05-shell-foundation-workstream.md
  frontend/src/App.tsx
  frontend/src/components/shell/AppHeader.tsx
  frontend/src/components/shell/QuickActionsDock.tsx
  frontend/src/styles/app-shell.css
  frontend/src/styles/tokens.css
Owners: @Oscar, @Benjamin

docs(frontend-redesign): 建立 FlyCare visual follow-up 拆解计划
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-004913.mem
  docs/frontend-redesign/06-flycare-visual-followups-plan.md
Owners: @Oscar

feat(shell): 修正 FlyCare header brand lockup
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-005409.mem
  docs/frontend-redesign/07-flycare-header-brand-lockup-workstream.md
  frontend/src/components/shell/AppHeader.tsx
  frontend/src/styles/app-shell.css
Owners: @Oscar, @Benjamin

fix(flycare): 移除 info panel 错位 badge
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-005656.mem
  docs/frontend-redesign/08-flycare-panel-badge-removal-workstream.md
  frontend/src/styles/app-shell.css
Owners: @Oscar, @Benjamin

fix(shell): 收紧共享 shell 间距并修正 FlyCare top rail
  docs/frontend-redesign/09-flycare-shell-background-and-sticky-header-workstream.md
  frontend/src/App.tsx
  frontend/src/styles/app-shell.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 shell 与 FlyCare 视觉修复
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-011720.mem
Owners: none

fix(flycare): 强化 map stage framing 与移动端横向保护
  docs/frontend-redesign/10-flycare-map-stage-framing-workstream.md
  frontend/src/styles/global.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 FlyCare map stage framing 修复
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-013530.mem
Owners: none

fix(flycare): 优化 info panel hierarchy 与暗色可读性
  docs/frontend-redesign/11-flycare-info-panel-hierarchy-workstream.md
  frontend/src/pages/FlyCarePage.tsx
  frontend/src/styles/global.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 FlyCare info panel hierarchy 修复
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-014950.mem
Owners: none

fix(flycare): 修复 drawer 脱离版面流与布局留白
  docs/frontend-redesign/12-flycare-layout-recovery-workstream.md
  frontend/src/styles/global.css
Owners: @Oscar, @Benjamin

chore(memory): 记录 FlyCare layout recovery
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-020526.mem
Owners: none

fix(flycare): 提升 header lockup 可读性
  docs/frontend-redesign/06-flycare-visual-followups-plan.md
  docs/frontend-redesign/13-flycare-header-readability-workstream.md
  frontend/src/styles/app-shell.css
Owners: @Oscar, @Benjamin

docs(frontend-redesign): 完成 FlyCare visual followups 收尾
  docs/frontend-redesign/99-flycare-handoff.md
Owners: @Oscar

chore(memory): 记录 FlyCare closeout
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-025004.mem
Owners: none

docs(frontend-position): 建立 Proactive Guardian Care 视觉计划
  docs/frontend-position/12-position-visual-followups-plan.md
Owners: @Oscar

chore(memory): 记录 Position visual plan kickoff
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260330-030033.mem
Owners: none
