Repository Triplenone/AIST-Final-Year-Project, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Million, @Oscar, @Lin, @Benjamin

feat(frontend): 添加 FamilyPage 住民卡片网格
  frontend/src/App.tsx
  frontend/src/components/family/FamilyResidentCard.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/pages/FamilyPage.tsx
  frontend/src/styles/family-page.css
  frontend/src/types/backend.ts
Owners: @Benjamin

feat(frontend): 添加家属今日摘要并接入后端
  frontend/src/components/family/FamilySummarySection.tsx
  frontend/src/hooks/useFamilySummary.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/pages/FamilyPage.tsx
  frontend/src/services/api.ts
  frontend/src/styles/family-page.css
Owners: @Benjamin

feat(frontend): 添加生命体征历史面板并优雅降级
  frontend/src/components/family/VitalsHistoryPanel.tsx
  frontend/src/hooks/useVitalsHistory.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/pages/FamilyPage.tsx
  frontend/src/services/api.ts
  frontend/src/styles/family-page.css
Owners: @Benjamin

feat(frontend): 为住民页添加生命体征弹窗
  frontend/src/components/admin/ResidentsAdmin.tsx
  frontend/src/components/family/VitalsHistoryModal.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/styles/family-page.css
Owners: @Benjamin

chore(memory): 记录 frontend phase 完成
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260413-122936.mem
  docs/merge-frontend-plan.md
Owners: @Oscar

docs(memory): record firmware dual import handoff
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260414-151427.mem
Owners: none

feat(backend): 添加 MQTT device mapping 配置并重构 Mongo sync 写入
  backend/backend/app/config.py
  backend/backend/app/services/mongo_raw_upstream.py
  backend/backend/app/services/mqtt_subscriber.py
Owners: @Oscar, @Lin

feat(backend): 添加 vitals event bridge endpoint 桥接 user→device→MongoDB
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/models/device.py
Owners: @Oscar, @Lin

fix(frontend): 修复 language switcher 下拉菜单 z-index 遮挡问题
  frontend/src/styles/app-shell.css
Owners: @Benjamin

chore(memory): 记录 Slice C/D 完成状态
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260416-053837.mem
  docs/slice-d-codex-handoff.md
Owners: @Oscar

docs: 导入 AGENTS.md Codex 治理文档
  AGENTS.md
Owners: none

docs: 导入 frontend phase Codex handoff 执行书
  docs/frontend-phase-codex-handoff.md
Owners: @Oscar

docs: 导入 _lin_mem 后端设计记忆文件
  _lin_mem/20260409-device-id-map-scheme-c.mem
  _lin_mem/20260409-frontend-demand-gap-fill.mem
  _lin_mem/20260409-mongo-canonical-unification.mem
  _lin_mem/20260409-vitals-mqtt-events.mem
Owners: none

docs: 更新 merge-frontend-plan 标记 Slice C/D 完成
  docs/merge-frontend-plan.md
Owners: @Oscar

fix(i18n): 移除三语 translation.json 中重复的 admin key
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
Owners: @Benjamin

Lin-saved-cleanup-release: overwrite branch with full local tree (position, alerts, vitals, backend services, _lin_mem)
  _lin_mem/CURR.mem
  _lin_mem/LOG/20260420-160000.mem
  _lin_mem/PROTO.md
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/api/routes/residents.py
  backend/backend/app/config.py
  backend/backend/app/services/elderly_device_queries.py
  backend/backend/app/services/mongo_resident_sensor_vitals.py
  backend/backend/app/services/sensor_vitals_extract.py
  backend/backend/config/device_id_map.json
  backend/requirements.txt
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/adapters/position-command-center.test.ts
  frontend/src/adapters/position-command-center.ts
  frontend/src/components/FallAlertModal.tsx
  frontend/src/components/family/VitalsHistoryPanel.tsx
  frontend/src/components/position/PositionDecisionPanel.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/components/position/PositionResidentRail.tsx
  frontend/src/components/position/PositionSummaryBar.tsx
  frontend/src/hooks/useVitalsHistory.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/pages/FlyCarePage.tsx
  frontend/src/pages/PositionPage.tsx
  frontend/src/services/api.ts
  frontend/src/styles/family-page.css
  frontend/src/styles/global.css
  frontend/src/types/fall-alert.ts
  frontend/src/utils/fall-alert-rows.test.ts
  frontend/src/utils/fall-alert-rows.ts
Owners: @Oscar, @Lin, @Benjamin

feat(shell): 隐藏 header context pill，FlyCare 移至 overview 底部入口
  frontend/src/App.tsx
  frontend/src/components/overview/OverviewExperience.tsx
  frontend/src/components/shell/AppHeader.tsx
  frontend/src/styles/overview.css
Owners: @Benjamin

style(ambient-actions): 悬浮框改为横向一行排版
  frontend/src/styles/app-shell.css
Owners: @Benjamin

feat(auth): 添加 caregiver_lee demo 账号并给 admin 入口加 role guard
  frontend/src/App.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
Owners: @Benjamin

feat(family): 新增主住民 Today's Summary briefing 模板
  frontend/src/App.tsx
  frontend/src/components/family/PrimaryResidentBriefing.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/pages/FamilyPage.tsx
  frontend/src/styles/family-page.css
  frontend/src/utils/resident-slug.ts
Owners: @Benjamin

chore(backend): 添加 chan-tai-man / lee-tai-man 测试用户 seed 脚本
  backend/backend/seed_test_users.py
Owners: @Oscar, @Lin

feat(frontend): 新增 family 角色與住民聯絡資料卡
  frontend/src/App.tsx
  frontend/src/components/family/PrimaryResidentBriefing.tsx
  frontend/src/constants/resident-family.ts
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/styles/family-page.css
Owners: @Benjamin

fix(shell): ambient-header nav 收窄至內容寬度，避免左邊白條過長
  frontend/src/styles/app-shell.css
Owners: @Benjamin

fix(shell): /position 路由 nav 都收窄至內容寬度
  frontend/src/styles/app-shell.css
Owners: @Benjamin

feat(backend): backport vitals 與 device mapping services（from Lin-saved-cleanup-release）
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/api/routes/residents.py
  backend/backend/app/config.py
  backend/backend/app/services/elderly_device_queries.py
  backend/backend/app/services/mongo_resident_sensor_vitals.py
  backend/backend/app/services/sensor_vitals_extract.py
  backend/backend/config/device_id_map.json
  backend/requirements.txt
Owners: @Oscar, @Lin

update position map, residents location fallback, LAN access config, and mem logs
  _lin_mem/CURR.mem
  _lin_mem/LOG/20260420-162500.mem
  _lin_mem/LOG/20260420-164000.mem
  _lin_mem/LOG/20260420-165200.mem
  _lin_mem/LOG/20260420-171000.mem
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/api/routes/residents.py
  backend/backend/app/services/mongo_raw_upstream.py
  backend/backend/app/services/mqtt_subscriber.py
  frontend/src/App.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/components/position/PositionResidentRail.tsx
  frontend/src/constants/backend.ts
  frontend/src/pages/PositionPage.tsx
  frontend/src/styles/position-page.css
Owners: @Oscar, @Lin, @Benjamin

fix: align resident-device binding and improve events/position/family workflows
  _lin_mem/CURR.mem
  _lin_mem/LOG/20260424-020050.mem
  backend/backend/app/api/routes/mongo_upstream.py
  backend/backend/app/api/routes/residents.py
  backend/backend/app/crud/device.py
  backend/backend/app/services/mongo_raw_upstream.py
  backend/backend/app/services/mqtt_subscriber.py
  frontend/src/App.tsx
  frontend/src/adapters/position-command-center.ts
  frontend/src/components/admin/AdminSection.tsx
  frontend/src/components/admin/EventsAdmin.tsx
  frontend/src/components/admin/ResidentsAdmin.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/pages/FamilyPage.tsx
  frontend/src/pages/PositionPage.tsx
  frontend/src/services/api.ts
  frontend/src/styles/global.css
  frontend/src/utils/fall-alert-rows.test.ts
  frontend/src/utils/fall-alert-rows.ts
Owners: @Oscar, @Lin, @Benjamin

feat(frontend): 合并 ee-main 前端功能并保留 main 契约
  frontend/src/App.tsx
  frontend/src/components/family/PrimaryResidentBriefing.tsx
  frontend/src/components/overview/OverviewExperience.tsx
  frontend/src/components/position/PositionMapStage.tsx
  frontend/src/components/shell/AppHeader.tsx
  frontend/src/locales/en/translation.json
  frontend/src/locales/zh-CN/translation.json
  frontend/src/locales/zh-HK/translation.json
  frontend/src/pages/FamilyPage.tsx
  frontend/src/styles/app-shell.css
  frontend/src/styles/family-page.css
  frontend/src/styles/overview.css
  frontend/src/utils/resident-slug.ts
Owners: @Benjamin

docs(merge): 记录 ee-main 前端合并验证
  _ben_mem/CURR.mem
  _ben_mem/LOG/20260426-112251.mem
  docs/merge-frontend-plan.md
Owners: @Oscar

chore(backend): 添加 chan-tai-man / lee-tai-man 测试用户 seed 脚本
  backend/backend/seed_test_users.py
Owners: @Oscar, @Lin

fix(seed): 修正 CHAN TAI MAN name 為純英文，確保 slugify 產出 chan-tai-man
  backend/backend/seed_test_users.py
Owners: @Oscar, @Lin

chore(db): 新增 Dump20260426 — 含 HK 居民名字與設備綁定
  database/mysql/Dump20260426.sql
Owners: none

docs(readme): 更新 dump 引用到 Dump20260426 — final report alignment
  README.md
Owners: none

docs(setup): 更新 MySQL seed 路径到 Dump20260426 — final report alignment
  docs/setup.md
Owners: @Oscar

docs(setup): 同步 SETUP 别名 seed 路径 — final report alignment
  docs/SETUP.md
Owners: @Oscar

docs(architecture): 标记 Slice A-D backend 已实现 — final report alignment
  docs/ARCHITECTURE.md
Owners: @Oscar

docs(troubleshooting): 更新 seed 路径并指向 data 文档 — final report alignment
  docs/troubleshooting.md
Owners: @Oscar

docs(troubleshooting): 同步 TROUBLESHOOTING 别名 seed 路径 — final report alignment
  docs/TROUBLESHOOTING.md
Owners: @Oscar

docs(demo): 更新 MySQL seed 路径到 Dump20260426 — final report alignment
  docs/DEMO.md
Owners: @Oscar

docs(backend-readme): 更新 seed dump 相对路径 — final report alignment
  backend/README.md
Owners: @Oscar, @Lin

.github/CODEOWNERS:

/firmware/              @Million
/backend/               @Oscar @Lin
/frontend/              @Benjamin
/ai/                    @Oscar
/docs/                  @Oscar
/.github/               @Oscar
